@use 'abstracts' as a;
.sidebar {
  display: none;

  @include a.laptop {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 200px;
    height: 100vh;

    padding: 20px;

    border-right: 1px solid a.$black-9;

    @include a.desktop-xl {
      gap: 16px;

      width: 218px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 5px;

    transition: opacity 0.2s ease;

    &__logoIcon {
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__accordionsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

    overflow-y: hidden;

    margin-top: 5px;
    padding-top: 12px;

    border-top: 1px dashed a.$black-9;

    > *:first-child {
      overflow: auto;

      max-height: 40%;

      padding-bottom: 5px;

      border-bottom: 1px dashed a.$black-9;

      scrollbar-width: none;
    }

    > *:last-child {
      overflow: auto;

      min-height: 0;

      padding-bottom: 5px;

      border-bottom: 1px dashed a.$black-9;

      scrollbar-width: none;
    }
  }
}
