@use 'abstracts' as a;
.sidebar {
  display: none;

  @include a.laptop {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 200px;
    height: 100vh;
    max-height: 100vh;

    padding: 24px;

    border-right: 1px solid a.$black-9;

    @include a.desktop-xl {
      gap: 16px;

      width: 218px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 5px;

    padding-bottom: 17px;

    border-bottom: 1px dashed a.$black-9;

    transition: opacity 0.2s ease;

    &__logoIcon {
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @include a.desktop-xl {
      padding-bottom: 25px;
    }
  }

  &__accordionsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

    overflow: hidden;

    min-height: 0;
  }

  &__typesContainer {
    display: flex;
    flex-direction: column;

    min-height: 0;

    padding-bottom: 13px;

    border-bottom: 1px dashed a.$black-9;

    scrollbar-width: none;

    @include a.desktop-xl {
      padding-bottom: 16px;
    }

    &--types {
      flex: 0 0 auto;

      overflow-y: auto;

      max-height: 50%;
    }

    &--history {
      flex: 1;

      overflow-y: auto;

      min-height: 0;
    }

    &__list {
      display: grid;
      gap: 6px;

      margin-top: 6px;

      @include a.desktop-xl {
        gap: 8px;
      }
    }

    &__listItem {
      display: flex;
      align-items: center;
      gap: 4px;

      padding: 4px;

      border: 1px solid transparent;
      border-radius: 4px;

      cursor: pointer;

      transition: all 0.2s ease;

      &:hover:not(&--active) {
        background-color: a.$black-8;

        border: 1px solid a.$black-9;
      }

      @include a.desktop-xl {
        padding: 6px;
      }

      &__emptyCircleIcon {
        width: 12px;
        height: 12px;

        border: 1px dashed a.$black-9;
        border-radius: 50%;
      }

      &__text {
        font-weight: a.$fw-medium;
        font-size: 12px;
        line-height: 16px;
        color: a.$black-5;

        @include a.desktop-xl {
          font-size: 14px;
          line-height: 19px;
        }
      }

      &--active {
        background: a.$white-2;

        border: 1px solid a.$black-7;
        &__text {
          color: a.$black-2;
        }
      }
    }
  }
}
