@use 'abstracts' as a;

.stepper__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 6px 16px;

  background: a.$black-8;

  border-bottom: 1px solid a.$black-8;

  @include a.tablet {
    padding: 6px 32px;
  }

  @include a.laptop {
    display: none;
  }
}

.stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 4px;

  &__text {
    font-weight: a.$fw-medium;
    font-size: 12px;
    line-height: 16px;
    color: a.$black-1;

    @include a.tablet {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__burgerMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    &__hide {
      pointer-events: none;

      opacity: 0;
    }

    &__icon {
      width: 24px;
      height: 24px;

      * {
        fill: a.$black-1;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    background: transparent;

    border: none;
    border-radius: 4px;

    transition: all 0.2s ease-in-out;

    &:hover:not(:disabled) {
      background: a.$gray-1;

      transform: scale(1.05);
    }

    &:active:not(:disabled) {
      background: a.$black-9;

      transform: scale(0.95);
    }

    &:disabled {
      cursor: not-allowed;

      transform: none;

      opacity: 0.3;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;

    transition: all 0.2s ease-in-out;

    &_left {
      transform: rotate(180deg);
    }

    @include a.laptop {
    }

    @include a.desktop-xl {
    }
  }
}

.slideMenu {
  position: absolute;
  top: 113px;
  right: 0;
  left: 0;
  z-index: 1000;

  overflow: hidden;

  height: 0;

  background: white;

  transition: height 0.3s ease-in-out;

  @include a.tablet {
    top: 125px;
  }

  @include a.laptop {
    display: none;
  }

  &_open {
    height: calc(100vh - 113px);

    @include a.tablet {
      height: calc(100vh - 125px);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: white;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    border-bottom: 1px solid a.$black-9;

    h3 {
      margin: 0;

      font-weight: a.$fw-medium;
      font-size: 18px;
      line-height: 24px;
      color: a.$black-1;
    }
  }

  &__body {
    flex: 1;

    padding: 24px 16px;
  }

  &__list {
    display: grid;
    gap: 6px;

    overflow-y: auto;

    margin-top: 6px;

    scrollbar-width: none;
  }

  &__listItem {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 4px;

    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover:not(&_active) {
      background-color: a.$black-8;

      border: 1px solid a.$black-9;
    }

    &__emptyCircleIcon {
      width: 12px;
      height: 12px;

      border: 1px dashed a.$black-9;
      border-radius: 50%;
    }

    &__icon {
      width: 12px;
      height: 12px;
    }

    &__text {
      font-weight: a.$fw-medium;
      font-size: 12px;
      line-height: 16px;
      color: a.$black-5;
    }

    &_active {
      background: a.$white-2;

      border: 1px solid a.$black-7;

      &__text {
        color: a.$black-2;
      }
    }
  }
}
