@use "../../../../../public/styles/abstracts" as a;

.statsSection {
  display: grid;
  grid-template-columns: 1fr;

  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: a.$gray-1;

  @include a.tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    display: flex;

    gap: 16px;
    padding: 12px;
    align-items: flex-start;
    justify-content: flex-start;

    @include a.tablet {
      align-items: center;
      justify-content: center;

      padding: 16px;

      flex-direction: column;
    }

    @include a.laptop {
      padding: 24px;
    }

    &:not(:first-child) {
      border-top: 1px solid a.$gray-1;

      @include a.tablet {
        border-top: none;
        border-left: 1px solid a.$gray-1;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.text {
  font-style: normal;
  font-weight: a.$fw-medium;
  font-size: 14px;
  line-height: 19px;

  color: a.$black-5;

  @include a.desktop {
    font-size: 15px;
    line-height: 20px;
  }

  @include a.desktop-xl {
    font-size: 16px;
    line-height: 21px;
  }
}

.countText {
  font-weight: a.$fw-medium;
  font-size: 28px;
  line-height: 37px;

  color: a.$black-1;

  @include a.laptop {
    font-size: 32px;
    line-height: 43px;
  }

  @include a.desktop {
    font-size: 38px;
    line-height: 51px;
  }

  @include a.desktop-xl {
    font-size: 44px;
    line-height: 59px;
  }
}

.icon {
  width: 14px;
  height: 14px;

  @include a.tablet {
    width: 18px;
    height: 18px;
  }

  @include a.desktop {
    width: 21px;
    height: 21px;
  }

  @include a.desktop-xl {
    width: 24px;
    height: 24px;
  }
}
