@use "../../../../../public/styles/abstracts" as a;

.quizSection {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: a.$gray-1;

  padding-top: 105px;

  position: relative;

  background: linear-gradient(
    180deg,
    a.$gray-light-transparent 0%,
    a.$gray-light 76.77%
  );

  @include a.tablet {
    padding-top: 102px;
  }

  @include a.laptop {
    padding-top: 260px;
  }

  @include a.desktop-xl {
    padding-top: 391px;
  }
}

.codeShowImage {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: -1;

  width: calc(100% - 24px);
  height: 206px;

  object-fit: cover;
  object-position: top;

  @include a.tablet {
    width: 656px;
    height: 385px;

    object-fit: cover;
    object-position: top;

    left: 24px;
    top: 24px;
  }

  @include a.laptop {
    width: 880px;
    height: 535px;

    left: 32px;
    top: 32px;
  }

  @include a.desktop-xl {
    width: 1016px;
    height: 635px;

    left: 32px;
    top: 32px;
  }
}

.blurBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    180deg,
    a.$gray-light-transparent-001 0%,
    a.$gray-light-transparent-01 100%
  );

  backdrop-filter: blur(1.5px);

  padding: 22px 0px 15px 0px;

  @include a.tablet {
    padding: 106px 0px 44px 0px;
  }

  @include a.laptop {
    padding: 60px 0px 64px 0px;
  }

  @include a.desktop-xl {
    padding: 22px 0px 63px 0px;
  }

  &_icon {
    width: 36px;
    height: 36px;

    @include a.tablet {
      width: 44px;
      height: 44px;
    }

    @include a.laptop {
      width: 48px;
      height: 48px;
    }

    @include a.desktop-xl {
      width: 64px;
      height: 64px;
    }
  }

  &_text {
    margin: 8px 0px 12px 0px;
    text-align: center;

    font-size: 16px;
    font-weight: a.$fw-semibold;
    line-height: 21px;
    color: a.$black-1;

    @include a.tablet {
      margin: 12px 0px 16px 0px;

      font-size: 20px;
      line-height: 27px;
    }

    @include a.laptop {
      margin: 16px 0px;

      font-size: 24px;
      line-height: 32px;
    }

    @include a.desktop-xl {
      margin: 16px 0px 24px 0px;

      font-size: 28px;
      line-height: 37px;
    }

    span {
      font-weight: a.$fw-medium;
      color: a.$black-5;
    }
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  isolation: isolate;

  width: max-content;

  background: a.$black-1;
  border-radius: 4px;

  @include a.tablet {
    padding: 6.5px 12px;
    gap: 8px;

    border-radius: 6px;
  }

  @include a.laptop {
    padding: 9.5px 16px;
    gap: 6px;

    border-radius: 8px;
  }

  @include a.desktop-xl {
    padding: 11.5px 24px;
    gap: 8px;
  }

  &_text {
    font-weight: a.$fw-medium;
    font-size: 12px;
    line-height: 16px;

    color: a.$white-1;

    @include a.tablet {
      font-size: 14px;
      line-height: 19px;
    }

    @include a.laptop {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &_icon {
    width: 12px;
    height: 12px;

    @include a.tablet {
      width: 14px;
      height: 14px;
    }

    @include a.laptop {
      width: 16px;
      height: 16px;
    }

    @include a.desktop-xl {
      width: 18px;
      height: 18px;
    }
  }
}
