@use "abstracts" as a;

.separator {
  width: calc(100vw - 32px);
  height: 16px;

  border-color: a.$gray-1;
  border-style: solid;
  border-width: 0 1px 1px;

  @include a.tablet {
    width: 704px;
    height: 24px;
  }

  @include a.laptop {
    width: 944px;
  }

  @include a.desktop-xl {
    width: 1080;
  }
}
