@use "../../../../public/styles/abstracts" as a;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 0;
  padding: 16px;
  background-color: a.$white-1;
  border: 1px solid a.$black-9;
  border-radius: 8px;

  @include a.tablet {
    width: 704px;
    margin: 16px auto 0;
    padding: 20px 24px;
    border-radius: 12px;
  }

  @include a.laptop {
    width: 944px;
    margin: 24px auto 0;
    border-radius: 10px;
  }

  @include a.desktop-xl {
    width: 1080px;
    padding: 24px;
  }
}

.logo {
  width: 80px;
  height: 20px;

  @include a.tablet {
    width: 111px;
    height: 28px;
  }

  @include a.laptop {
    width: 96px;
    height: 24px;
  }

  @include a.desktop-xl {
    width: 111px;
    height: 28px;
  }
}

.navigationList {
  display: flex;
  align-items: center;

  &__itemLink,
  a {
    margin: 8px 12px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: a.$black-3;

    @include a.tablet {
      margin: 9px 14px !important;
      font-size: 15px;
      line-height: 20px;
    }

    @include a.laptop {
      margin: 9.5px 16px !important;
      font-size: 16px;
      line-height: 21px;
    }

    @include a.desktop-xl {
      margin: 11.5px 24px !important;
    }
  }

  &__separator {
    width: 1px;
    height: 24px;
    background-color: a.$black-9;

    @include a.tablet {
      height: 26px;
    }

    @include a.laptop {
      height: 29px;
    }

    @include a.desktop-xl {
      height: 32px;
    }
  }
}
