@use "abstracts" as a;

.informationSection {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 24px 0;

  border-bottom: 1px dashed a.$black-9;

  @include a.tablet {
    padding: 24px 0;
  }

  @include a.desktop-xl {
    padding: 48px 0;
  }

  &__title {
    font-weight: a.$fw-semibold;
    font-size: 16px;
    line-height: 21px;
    color: a.$black-1;

    @include a.tablet {
      font-size: 20px;
      line-height: 27px;
    }

    @include a.desktop-xl {
      font-size: 28px;
      line-height: 37px;
    }
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include a.tablet {
      flex-direction: row;
    }
  }

  &__text {
    font-weight: a.$fw-medium;
    font-size: 12px;
    line-height: 16px;
    color: a.$black-2;
  }
}
