// src/styles/base/_base.scss

// Устанавливаем базовые интерактивные стили для ссылок и кнопок
a,
button {
  cursor: pointer;
}

// Можно добавить и другие базовые стили
// Например, для основного текста
body {
  font-family: var(--font-involve), sans-serif;
  color: #333;

  max-width: 100vw;
  overflow-x: hidden;

  background-color: #f7f7f7;

  min-height: 100vh;
}
