/* Reset and base styles  */
* {
  margin: 0;
  padding: 0;

  border: none;

  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); // stop highlights element blue when tapping
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  margin: 0;
  padding: 0;

  text-decoration: none;

  //color: unset;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;

  //margin-block-start: 0;
  //margin-block-end: 0;
}

ul,
ul li {
  list-style: none;
}

/* Form */

input,
textarea,
button,
select {
  background-color: transparent;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;

  background: none;
  background-color: transparent;

  box-shadow: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

legend {
  display: block;
}
