@use 'abstracts' as a;

.quiz {
  display: flex;
  flex-direction: column;

  max-width: 100vw;
  min-height: 100vh;

  padding-bottom: 24px;

  @include a.laptop {
    display: flex;
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;

    margin: 0 16px;

    @include a.tablet {
      margin: 0 32px;
    }

    @include a.laptop {
      margin: 0 24px;
    }

    @include a.desktop-xl {
      margin: 0 48px;
    }

    &__header {
      position: relative;
      right: 16px;

      width: 100vw;

      @include a.tablet {
        right: 32px;
      }

      @include a.laptop {
        right: 0;

        width: 100%;
      }
    }
  }
}
