@use 'abstracts' as a;

.answerAccordion {
  display: flex;
  flex-direction: column;

  margin-top: 8px;

  @include a.desktop-xl {
    margin-top: 16px;
  }

  &__trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    width: max-content;

    padding: 4px 6px;

    background: none;

    border: none;

    list-style: none;

    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    @include a.desktop-xl {
      padding: 6.5px 6px;
    }

    &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #f05023;

      @include a.desktop-xl {
        font-size: 14px;
        line-height: 19px;
      }
    }

    &__text--show {
      display: inline;
    }

    &__text--hide {
      display: none;
    }

    &__icon {
      width: 12px;
      height: 12px;

      transform: rotate(90deg);

      transition: transform 0.2s ease;

      * {
        fill: #f05023;
      }
    }
  }

  &__content {
    display: none;
    align-self: stretch;

    overflow: hidden;

    padding: 0 8px;

    background: rgba(36, 36, 36, 0.05);

    border: 1px solid rgba(36, 36, 36, 0.05);
    border-radius: 4px;

    @include a.tablet {
      padding: 0 12px;

      border-radius: 6px;
    }

    @include a.desktop-xl {
      padding: 0 16px;

      border-radius: 8px;
    }

    &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      color: rgba(36, 36, 36, 0.7);

      @include a.desktop-xl {
        font-size: 14px;
      }

      pre {
        padding: 12px 10px;

        background-color: rgba(36, 36, 36, 0.1);

        border-radius: 3px;

        font-family: 'Courier New', monospace;
        font-size: 0.9em;

        code {
          font-weight: 500;
          color: black;
        }
      }
    }
  }

  &[open] {
    .answerAccordion__trigger__icon {
      transform: rotate(270deg);
    }

    .answerAccordion__trigger__text--show {
      display: none;
    }

    .answerAccordion__trigger__text--hide {
      display: inline;
    }

    .answerAccordion__content {
      display: flex;

      padding: 8px;

      @include a.tablet {
        padding: 12px;
      }

      @include a.desktop-xl {
        padding: 16px;
      }
    }
  }
}
