@use "abstracts" as a;

.quizSection {
  position: relative;

  padding-top: 105px;

  background: linear-gradient(
    180deg,
    a.$gray-light-transparent 0%,
    a.$gray-light 76.77%
  );

  border-color: a.$gray-1;
  border-style: solid;
  border-width: 0 1px 1px;

  @include a.tablet {
    padding-top: 102px;
  }

  @include a.laptop {
    padding-top: 260px;
  }

  @include a.desktop-xl {
    padding-top: 391px;
  }
}

.codeShowImage {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: -1;

  object-fit: cover;
  object-position: top;

  width: calc(100% - 24px);
  height: 206px;

  @include a.tablet {
    top: 24px;
    left: 24px;

    object-fit: cover;
    object-position: top;

    width: 656px;
    height: 385px;
  }

  @include a.laptop {
    top: 32px;
    left: 32px;

    width: 880px;
    height: 535px;
  }

  @include a.desktop-xl {
    top: 32px;
    left: 32px;

    width: 1016px;
    height: 635px;
  }
}

.blurBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 22px 0 15px;

  background: linear-gradient(
    180deg,
    a.$gray-light-transparent-001 0%,
    a.$gray-light-transparent-01 100%
  );

  backdrop-filter: blur(1.5px);

  @include a.tablet {
    padding: 106px 0 44px;
  }

  @include a.laptop {
    padding: 60px 0 64px;
  }

  @include a.desktop-xl {
    padding: 22px 0 63px;
  }

  &_icon {
    width: 36px;
    height: 36px;

    @include a.tablet {
      width: 44px;
      height: 44px;
    }

    @include a.laptop {
      width: 48px;
      height: 48px;
    }

    @include a.desktop-xl {
      width: 64px;
      height: 64px;
    }
  }

  &_text {
    margin: 8px 0 12px;

    font-weight: a.$fw-semibold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: a.$black-1;

    @include a.tablet {
      margin: 12px 0 16px;

      font-size: 20px;
      line-height: 27px;
    }

    @include a.laptop {
      margin: 16px 0;

      font-size: 24px;
      line-height: 32px;
    }

    @include a.desktop-xl {
      margin: 16px 0 24px;

      font-size: 28px;
      line-height: 37px;
    }

    span {
      font-weight: a.$fw-medium;
      color: a.$black-5;
    }
  }
}
