@use "abstracts" as a;

.accordion {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 8px 9px 8px 4px;

    background: none;

    border: none;

    cursor: pointer;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: a.$black-8;

      border-radius: 4px;
    }

    @include a.desktop-xl {
      padding: 8.5px 11px 8.5px 6px;
    }
  }

  &__title {
    margin: 0;

    font-weight: a.$fw-medium;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: a.$black-1;

    @include a.desktop-xl {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__arrowIcon {
    width: 14px;
    height: 14px;

    transform: rotate(90deg);

    transition: transform 0.3s ease;

    &--open {
      transform: rotate(90deg);
    }

    &--closed {
      transform: rotate(0deg);
    }
  }

  &__contentWrapper {
    overflow: hidden;

    transition: max-height 0.3s ease, opacity 0.3s ease;

    &--open {
      opacity: 1;
    }

    &--closed {
      opacity: 0;
    }
  }

  &__content {
    padding-top: 6px;
  }
}
