@use 'abstracts' as a;

.accordion {
  padding: 4px;

  &[open] {
    .summary__icon {
      transform: rotate(90deg);
    }
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  margin-bottom: 6px;
  padding: 4px;

  list-style: none;

  cursor: pointer;
  user-select: none;

  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    background-color: a.$black-8;
  }

  &__title {
    font-weight: a.$fw-medium;
    font-size: 12px;
    line-height: 16px;
    color: #242424;

    @include a.desktop-xl {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;

    transition: transform 0.2s ease;
  }
}
