@use 'abstracts' as a;

.button {
  display: flex;
  align-items: center;

  padding: 6.5px 10px;

  border: 1px solid transparent;
  border-radius: 6px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  @include a.tablet {
    padding: 6.5px 12px;
  }

  @include a.desktop-xl {
    padding: 11.5px 24px;

    border-radius: 10px;
  }

  &--white {
    background: transparent;

    border: 1px solid rgba(36, 36, 36, 0.15);

    &:hover {
      background: rgba(36, 36, 36, 0.05);

      border-color: rgba(36, 36, 36, 0.25);
    }

    &:active {
      background: rgba(36, 36, 36, 0.1);

      transform: scale(0.98);
    }
  }

  &--black {
    background: #242424;

    &:hover {
      background: #333333;
    }

    &:active {
      background: #1a1a1a;

      transform: scale(0.98);
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    @include a.desktop-xl {
      font-size: 16px;
      line-height: 21px;
    }

    &--white {
      color: #242424;
    }

    &--black {
      color: #ffffff;
    }
  }
}
