@use "abstracts" as a;

.hero {
  position: relative;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  height: 386.34px;

  padding-top: 74.5px;

  @include a.tablet {
    height: 445px;
  }

  @include a.laptop {
    gap: 14px;

    height: 550px;

    padding-top: 94.4px;
  }

  @include a.desktop-xl {
    gap: 16px;

    height: 719px;

    padding-top: 138px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  pointer-events: none;

  transform: translateX(-50%);

  @include a.only-mobile {
    width: 720px;
    height: 386.34px;

    background-image: url("/svg/bg_360.svg");
  }

  @include a.only-tablet {
    width: 704px;
    height: 445.5px;

    background-image: url("/svg/bg_768.svg");
  }

  @include a.only-laptop {
    width: 944px;
    height: 550px;

    background-image: url("/svg/bg_1024.svg");
  }

  @include a.only-desktop {
    width: 944px;
    height: 550px;

    background-image: url("/svg/bg_1024.svg");
  }

  @include a.desktop-xl {
    width: 1080px;
    height: 719px;

    background-image: url("/svg/bg_1920.svg");
  }

  &__cross {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;

    width: 21px;
    height: 21px;

    @include a.only-mobile {
      display: none;
    }

    &:after {
      display: absolute;

      width: 21px;
      height: 1px;

      background-color: a.$black-4;

      content: "";
    }

    &:before {
      position: absolute;

      width: 1px;
      height: 21px;

      background-color: a.$black-4;

      content: "";
    }
  }
}

.textBlock {
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: a.$black-1;

    @include a.tablet {
      font-size: 32px;
      line-height: 43px;
    }

    @include a.laptop {
      font-size: 40px;
      line-height: 53px;
    }

    @include a.desktop-xl {
      font-size: 64px;
      line-height: 85px;
    }
  }

  &__description {
    max-width: 570px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: a.$black-5;

    @include a.tablet {
      max-width: 510px;
    }

    @include a.laptop {
      max-width: 670px;

      font-size: 14px;
      line-height: 19px;
    }

    @include a.desktop-xl {
      max-width: 875px;

      font-size: 18px;
      line-height: 24px;
    }

    &__br {
      display: none;

      @include a.desktop-xl {
        display: block;
      }
    }
  }
}

.frameworksBlock {
  display: flex;
  gap: 19px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: a.$black-6;

      @include a.laptop {
        font-size: 14px;
        line-height: 19px;
      }

      span {
        color: a.$black-2;
      }
    }

    &__frameworksIcon {
      width: 14px;
      height: 14px;

      &__backend {
        * {
          fill: #23b2e7;
        }
      }

      @include a.laptop {
        width: 16px;
        height: 16px;
      }
    }
  }
}
